server:
  port: 8082

spring:
  application:
    name: SERVICE-VOITURE
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: SERVICE-VOITURE
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${server.port}
        prefer-ip-address: true



management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
